
{% extends 'dashboard/stock-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}

{% endblock %}

{% block title %}
Transfer orders
{%endblock%}

{% block info %}

<a href="{% url 'stockmanagementapp:stock-dashboard' %}">
    <button class="btn btn-success">Dashboard</button>
</a>

{% endblock %}

{% block leftsection %}
<br>
<a href="{% url 'stockmanagementapp:create-new-transfer-order' %}">
    <button class="btn btn-success">New TRF</button>
</a>
{% endblock %}

{% block header %}
{{the_store.name}}
{% endblock %}

{% block body %}

{{item.description}}
{{item.quantity}}
<br>


<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="myfile">
  <button type="submit">Upload</button>
</form>

<br>


<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Person</th>
      <th scope="col">Email</th>
      
      <th scope="col">Location</th>
      <th scope="col">Price</th>
      
      
     
    </tr>
  </thead>
  <tbody id="tbody">
    {% csrf_token %}
    
    {% for person in persons %}
    <tr>
      <td>
    {{person.name}}</td>
    <td>
      {{person.email}}</td>
      <td>
        {{person.location}}</td>
      <td>
        {{person.price}}</td>
    
    
      
      
    </tr>
    
    {% endfor %}
  </tbody>
</table>

               
{% endblock %}

{% block main %}

{% endblock %}

{% block footer %}

{% endblock %}


